<h1>mini_talk_app</h1>
<%= form_with model: @message do |f| %>
  <%= f.text_field :text %>
  <%= f.submit 'send' %>
<% end %>
<div id='messages'>
  <% @messages.reverse_each do |message| %>
    <p><%= message.text %></p>
  <% end %>
</div>
